<div class="header">
  <!-- Rectangle 229 -->
  <div class="rectangle-229"></div>

  <!-- Group 336 -->
  <div class="group-336">
    <!-- Logo -->
    <div class="logo">
      <!-- icône -->
      <div class="icon"></div>
      <!-- BankDash -->
      <div class="bankdash">BankDash</div>
    </div>

    <!-- Group 9 -->
    <div class="group-9">
      <!-- Overview -->
      <div class="overview">Overview</div>
      <!-- Group 8 -->
      <div class="group-8">
        <!-- magnifying-glass 1 -->
        <div class="magnifying-glass"></div>

        <!-- Rectangle 19 -->
        <div class="rectangle-19"></div>

        <!-- Search for something -->
        <div class="search-for-something">Search for something</div>

      </div>
      <!-- Group 4 -->
      <div class="group-4">
        <!-- Ellipse 3 -->
        <div class="ellipse-3"></div>
        <!-- settings 1 -->
        <div class="settings-1">
          <!-- Vector 1 -->
          <div class="vector-1"></div>
          <!-- Vector 2 -->
          <div class="vector-2"></div>
        </div>
      </div>
      <!-- Group 3 -->
      <div class="group-3">
        <!-- Ellipse 2 -->
        <div class="ellipse-2"></div>
        <!-- Notification Icon -->
        <div class="notification-icon">
          <!-- Vector 3 -->
          <div class="vector-3"></div>
          <!-- Vector 4 -->
          <div class="vector-4"></div>
          <!-- Vector 5 -->
          <div class="vector-5"></div>
        </div>
      </div>
      <!-- Mask Group -->
      <div class="mask-group">
        <!-- Image -->
        <div class="pexels-image"></div>
        <!-- Ellipse -->
        <div class="ellipse-1"></div>
      </div>
      <!-- Logout Button -->
      <div class="logout-container">
        <button class="logout-button" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>

  <!-- Rectangle 42 -->
  <div class="rectangle-42"></div>
</div>