<div class="login-container">
  <div class="logo-container">
    <img src="logo.png" alt="Logo" class="logo" />
  </div>
  
  <div class="login-form">
    <h2>Connexion</h2>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Entrez votre nom d'utilisateur" required />
      </div>
      
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Entrez votre mot de passe" required />
      </div>
      
      <button type="submit">Se connecter</button>
    </form>

    <div class="signup-link">
      <p>Pas encore de compte ? <a (click)="onSignUp()">Créer un compte</a></p>
    </div>
    
  </div>
</div>
