<!-- sidebar.component.html -->
<div class="sidebar">
    <!-- Rectangle 55 -->
    <div class="rectangle-55"></div>

    <!-- Group 25 -->
    <div class="group-25">
        <!-- Group 24 -->
        <div class="group-24">
            <div class="rectangle-17"></div>
            <div class="dashboard">Dashboard</div>
            <div class="home">
                <div class="home-vector"></div>
            </div>
        </div>

        <!-- transfer 1 -->
        <div class="transfer"></div>

        <!-- Transactions -->
        <div class="transactions">Transactions</div>

        <!-- user 3 1 -->
        <div class="user"></div>

        <!-- Accounts -->
        <div class="accounts">Accounts</div>

        <!-- economic-investment 1 -->
        <div class="economic-investment"></div>

        <!-- Investments -->
        <div class="investments">Investments</div>

        <!-- credit-card 1 -->
        <div class="credit-card"></div>

        <!-- Credit Cards -->
        <div class="credit-cards">Credit Cards</div>

        <!-- loan 1 -->
        <div class="loan"></div>

        <!-- Loans -->
        <div class="loans">Loans</div>

        <!-- service 1 -->
        <div class="service"></div>

        <!-- Services -->
        <div class="services">Services</div>

        <!-- econometrics 1 -->
        <div class="econometrics"></div>

        <!-- My Privileges -->
        <div class="my-privileges">My Privileges</div>

        <!-- settings solid 1 -->
        <div class="settings-solid"></div>

        <!-- Setting -->
        <div class="setting">Setting</div>


    </div>

</div>